apiVersion: v1
kind: Service
metadata:
  labels:
    component: rabbitmq
  name: rabbitmq-service
  namespace: plato
spec:
  ports:
    - port: 5672
  selector:
    app: taskQueue
    component: rabbitmq
